<h1>New restaurant</h1>

<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name, label: "Whats the name?" %>
  <%= f.input :address %>
  <%= f.input :category, collection: Restaurant::CATEGORIES, include_blank: false %>
  <%= f.submit "Confirm", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back to list', restaurants_path %>
